.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .invoices a {
    color: #5D6975;
    text-decoration: underline;
  }
  
  body .invoc{
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #001028;
    background: #FFFFFF; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    font-weight: 700;
    
  }
  
  .invoices header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  .invoices #logo {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .invoices #logo img {
    width: 90px;
  }
  
  .invoices h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: white;
    background-color: #001028;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
  }
  
  .invoices #project {
    float: left;
  }
  
  .invoices #project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
  }
  
  .invoices #company {
    float: right;
    text-align: right;
  }
  
  .invoices #project div,
  .invoices #company div {
    white-space: nowrap;        
  }
  
  .invoices table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  .invoices table tr:nth-child(2n-1) td {
    background: #F5F5F5;
  }
  
  .invoices table th,
  .invoices table td {
    text-align: center;
  }
  
  .invoices table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
  }
  
  .invoices table .service,
  .invoices table .desc {
    text-align: left;
  }
  
  .invoices table td {
    padding: 20px;
    text-align: right;
  }
  
  .invoices table td.service,
  .invoices table td.desc {
    vertical-align: top;
  }
  
  .invoices table td.unit,
  .invoices table td.qty,
  .invoices table td.total {
    font-size: 1.2em;
  }
  
  .invoices table td.grand {
    border-top: 1px solid #5D6975;;
  }
  
  .invoices #notices .notice {
    color: #5D6975;
    font-size: 1.2em;
  }
  
  .invoices footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
  }